* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #eee;
}


/* Nav */

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  padding: 0 20px;
  position: fixed;
  background-color: #eee;
}

#nav-bar {
  width: 100%;
  display: flex;
  list-style: none;
  padding-right: 20px;
}

#nav-bar a {
  text-decoration: none;
  margin-right: 20px;
  color: black;
}

.logo img {
  width: 100%;
  height: 100%;
  max-width: 300px;
}


/* Email and submit btc */

.hero {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-top: 110px;
}

#form {
  margin-top: 20px;
}

#email {
  width: 260px;
  padding: 6px;
}

#submit {
  padding: 6px 20px;
  text-transform: uppercase;
  background-color: #f1c40f;
  border: none;
  font-weight: 600;
  font-size: 1.05rem;
  cursor: pointer;
}


/* Container */

.container {
  width: 60%;
  margin: 0 auto;
}

/* Features */

#features {
  margin-top: 20px;
}

.grid {
  margin: 10px;
}

.container img {
  margin-right: 24px;
}

.grid {
  display: flex;
}

/* How to work */

#video {
  width: 70%;
  height: 340px;
  display: block;
  margin: 40px auto;
}


/* Pricing */

#pricing {
  width: 60%;
  margin: 56px auto;
  display: flex;
  justify-content: space-between;
}

.level {
  background-color: #ddd;
  padding: 10px 0;
}

.product {
  margin: 0 10px;
  border: 1px solid black;
  width: 30%;
  text-align: center;
}

.product h2 {
  margin-top: 6px;
}

.product ul {
  list-style: none;
  margin: 10px 0;
}

.product button {
  border: none;
  background-color: #f1c40f;
  padding: 6px 20px;
  margin: 16px 0;
  cursor: pointer;
}


/* Footer */

footer {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  text-align: right;
  background-color: #ddd;
}

footer ul {
  display: flex;
  list-style: none;
  justify-content: end;
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  margin-left: 24px;
  color: black;
}


/* Media */

@media screen and (max-width: 768px) {
  .hero, .container, #video, #pricing, footer {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  #header {
    flex-direction: column;
    padding: 0;
  }

  #nav-bar {
    padding: 0;
  }
  
  #nav-bar a {
    margin: 0 5px;
  }
}

@media screen and (max-width: 500px) {
  #pricing {
    flex-direction: column;
  }

  .product {
    width: 80%;
    margin: 10px auto;
  }

  #header ul {
    flex-direction: column;
    text-align: center;
    margin: 4px 0;
  }
}